.pagetitle {
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: #ffffff !important;
    text-shadow: 0 0 10px #8a1b08, 0 0 20px #520c07;
}

.mb-3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.login-btn {
    color: #ffffff;
    background-color: #f18c20;
}

input, label, p, button, .alert{
    font-size:13px !important;
}
.transparent-card {
    background-color: rgba(255, 255, 255, 0); /* Fully transparent */
    border: none; 
    padding: 15px;
}

.title-container {
    background-color: rgba(255, 255, 255, 0) !important;   
    border: none; 
    padding: 15px;
    margin: 10px;
}