body {
  margin: 0 auto !important;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: 1200px;
  min-height: 100vh;
  background-image: url("./assets/background.jpg"); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  font-family: "Rammetto One", sans-serif !important;
  font-optical-sizing: auto;
}
